<section class="bg-light">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                    <h5>Bize Ulaşın</h5>
                    <div class="col-auto">
                        <div class="contact-info">
                            <h6>Adres:</h6>
                            <p>Çekmeköy / İstanbul</p>
                        </div>
                        <div class="contact-info">
                            <h6>Email:</h6>
                            <p><a href="mailto:info@canparetoys.com">info@canparetoys.com</a></p>
                        </div>
                        <div class="contact-info">
                            <h6>Telefon:</h6>
                            <p>2222 222 22 22</p>
                        </div>
                    </div>
                </div>


                <div class="col-6 col-md-2 mb-3">
                    <h5>Çok Satan Markalar</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Barbie</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Lego</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Hot Wheels</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3 mb-3">
                    <h5>Çok Satan Kategoriler</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Figür ve Bebekler</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Peluşlar</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Legolar</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Arabalar</a></li>
                    </ul>
                </div>

                <div class="col-md-4 mb-3">
                    <form>
                        <h5>E Bültene Abone Olun</h5>
                        <p>Kampanyalardan ilk sizin haberiniz olsun.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email </label>
                            <input id="newsletter1" type="email" class="form-control" placeholder="Email adresi">
                            <button class="btn btn-warning text-nowrap" type="button">Abone Ol</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2025 Canpare Oyuncak, Ltd. Tüm hakları saklıdır.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-secondary" href="https://twitter.com/MlymCann" target="_blank">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-secondary" href="https://instagram.com/cannparmak" target="_blank">
                            <i class="bi bi-instagram"></i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="text-secondary" href="https://facebook.com/MülayimCanParmak" target="_blank">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </footer>
    </div>
</section>
