@{
    ViewData["Title"] = "Erişim Engellendi!";
}

<div class="container">
    <div class="alert alert-danger my-5 text-center">
        <h1>Üzgünüz</h1>
        <h3>Bu Sayfaya Erişim Yetkiniz Bulunmamaktadır!</h3>
    </div>

    <div class="text-center">
        <img src="~/Img/9a243aa9febde031341be4094a1abbe8.gif" alt="Erişim Engeli" class="img-fluid mt-4" style="max-height: 300px;" />
    </div>
</div>
